body {
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

#header {
    display: block;
    margin: auto;
    width: 640px;
    height: auto;
}

#about {
    flex-direction: column;
}

#contact {
    flex-direction: column;
}

#nav-bar {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    background-color: burlywood;
}

#footer {
    text-align: center;
}

.nav-link {
    color: red;
}

@media (max-width: 50rem) {
.nav-link {
    color: green;
}
main {
    flex-direction: column;
}
}
